{
  	"presets": [
  		["env", {"targets": {"browsers": ["last 2 versions", "safari >= 7"], "uglify": true}}],
  		"react",
  		"stage-2"
	],
  	"plugins": [
        ["transform-runtime"],
        ["import", [{libraryName: "antd", style: true}]],
        ["transform-do-expressions"]
    ],
    "comments": false
}