
@font-face {font-family: "anticon-koala";
  src: url('iconfont.eot?t=1503036685869'); /* IE9*/
  src: url('iconfont.eot?t=1503036685869#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503036685869') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503036685869') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503036685869#anticon-koala') format('svg'); /* iOS 4.1- */
}

.anticon-koala {
  font-family:"anticon-koala" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon-warning:before { content: "\f1a1"; }

.anticon-gifts:before { content: "\f6db"; }

.anticon-dollar:before { content: "\f702"; }

.anticon-office:before { content: "\f705"; }

.anticon-bussinessman:before { content: "\f726"; }

.anticon-emailfilling:before { content: "\f72d"; }

.anticon-locate:before { content: "\f624"; }

.anticon-data:before { content: "\f757"; }

.anticon-Calculator:before { content: "\f812"; }

.anticon-earth:before { content: "\f828"; }

.anticon-manage:before { content: "\f70b"; }

.anticon-folder:before { content: "\f83b"; }

