@charset "utf-8";
.vesta {
    .header {
        .menu {
            padding-top: 10px;
        }
        .out {
            color: #fff;
        }
    }
    .container {
        max-width: 1280px;
        margin: 20px auto;
        background-color: #fff;
    }
}
