@charset "utf-8";

.header {
    .menu {
        padding-top: 10px;
    }
    .out {
        color: #fff;
    }
    .logo {
        width: 85px;
        margin-top: -15px;
    }
}

.container {
    min-width: 1280px;
    min-height: 650px;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

.content {
    min-height: 700px;
}

.bg-white {
    background-color: #FFF
}

.pull-right {
    float: right;
}

.err-msg-icon {
    color: #FF0000;
}